In [1]:
import pandas as pd

## Import & explore data

In [12]:
df = pd.read_csv('datasets/Demo Hospital Outpatient Data_NHC.csv')
df.head()

,Visit_Date,Patient_ID,Age,Gender,Diagnosis,Has_Insurance,Postcode,Total_Cost,Registration,Nursing,Laboratory,Consultation,Pharmacy
0,2020-05-06,688923,68,Female,Diabetes,True,20006,2274.0,33,105,101,28,112
1,2018-08-04,886361,62,Female,Urinary Tract Infection,False,20005,3430.0,46,75,84,102,36
2,2021-04-10,464823,70,Female,Upper Respiratory Tract Infection,True,10003,1836.0,107,81,5,77,36
3,2021-10-01,655214,8,Female,Upper Respiratory Tract Infection,False,10006,3250.0,66,31,101,35,92
4,2018-04-30,454666,24,Male,Malaria,True,10006,2262.0,68,55,60,90,104

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 13 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Visit_Date     1000000 non-null  object
 1   Patient_ID     1000000 non-null  int64
 2   Age            1000000 non-null  int64
 3   Gender         1000000 non-null  object
 4   Diagnosis      1000000 non-null  object
 5   Has_Insurance  1000000 non-null  bool
 6   Postcode       1000000 non-null  int64
 7   Total_Cost     1000000 non-null  float64
 8   Registration   1000000 non-null  int64
 9   Nursing        1000000 non-null  int64
 10  Laboratory     1000000 non-null  int64
 11  Consultation   1000000 non-null  int64
 12  Pharmacy       1000000 non-null  int64
dtypes: bool(1), float64(1), int64(8), object(3)
memory usage: 92.5+ MB

In [15]:
# check for empty rows
df.isna().sum()

Visit_Date       0
Patient_ID       0
Age              0
Gender           0
Diagnosis        0
Has_Insurance    0
Postcode         0
Total_Cost       0
Registration     0
Nursing          0
Laboratory       0
Consultation     0
Pharmacy         0
dtype: int64

## Clean Data

There are several numerical data types under the **Registration**, **Nursing**, etc columns that don't quite make sense. What do these numbers represent? The values in these columns are the amount of time in minutes that each patient spent at each specified department during their visit. I will change the column names to something more descriptive that better represent the values.

In [19]:
df.columns

Index(['Visit_Date', 'Patient_ID', 'Age', 'Gender', 'Diagnosis',
       'Has_Insurance', 'Postcode', 'Total_Cost', 'Registration', 'Nursing',
       'Laboratory', 'Consultation', 'Pharmacy'],
      dtype='object')

In [21]:
df.rename(columns={'Registration':'Minutes In Registration', 'Nursing':'Minutes In Nursing',
       'Laboratory': 'Minutes in Laboratory', 'Consultation':'Minutes in Consultation', 'Pharmacy':'Minutes in Pharmacy'}, inplace=True)
df.columns

Index(['Visit_Date', 'Patient_ID', 'Age', 'Gender', 'Diagnosis',
       'Has_Insurance', 'Postcode', 'Total_Cost', 'Minutes In Registration',
       'Minutes In Nursing', 'Minutes in Laboratory',
       'Minutes in Consultation', 'Minutes in Pharmacy'],
      dtype='object')